.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
.card{
    padding: 16px;
    margin: 12px;
    border-radius: 8px;
    background-color: inherit;
    border: 1px solid #ccc;
}